# Datasets folder
datasets/*

# Jupyter
src/.ipynb_checkpoints

# Temporary files
*.pyc
__pycache__/

# Python package caches
dist/
*.egg-info/

# Log files
outputs/ELG_i180x108_f60x36_n64_m3/messages.log
outputs/ELG_i60x36_f60x36_n32_m2/messages.log