# Datasets folder
datasets/*

# Outputs folder
outputs/

# 3rd party files
src/3rdparty

# Jupyter
src/.ipynb_checkpoints

# Temporary files
*.pyc
__pycache__/

# Python package caches
dist/
*.egg-info/
